body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
#result {
    font-size: 100px;
    margin: 0 100px 100px 100px;
}
.number-input,
#reset {
    text-align: center;
    font-size: 40px;
    color: #3e3f42;
    height: 60px;
    width: 100px;
    border: solid 8px #3e3f42;
    border-radius: 10px;
}
.operator  {
    color: #3e3f42;
    font-size: 40px;
    height: 80px;
    width: 80px;
    border: solid 8px #3e3f42;
    border-radius: 30%;
}
#reset {
    margin-top: 20px;
    width: 160px;
    height: 80px;
}
.number-input:hover,
.operator:hover,
#reset:hover {
    background-color: #3e3f42;
    color: white;
}

